footer{
    margin-top: 20px;
    width: auto;
    height: 200px;
    background: #959595;
}

footer{
    ul{
        li{
            a{
                text-decoration: none;
            }
        }
    }
}

.nav-list li a{
    color: white; 
    text-decoration: none;
}

div dl dd a{
    color: white; 
    text-decoration: none;
}